@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes float-float-tl7jj06tu {
  0%, 100% {
      transform: translate(-80px, 0px) scaleX(-1) rotate(0deg) scale(1);
  }
  25% {
      transform: translate(-83.7015160352078px, 11.689083337236806px) 
                scaleX(-1) rotate(-7.033455959693057deg) scale(1);
  }
  50% {
      transform: translate(-94.80606414083118px, -23.37816667447361px) 
                scaleX(-1) rotate(-14.066911919386113deg) scale(1);
  }
  75% {
      transform: translate(-76.2984839647922px, -11.689083337236806px) 
                scaleX(-1) rotate(7.033455959693057deg) scale(1);
  }
}

@keyframes float-float-890nj5m80 {
  0%, 100% {
      transform: translate(80px, 0px) scaleX(-1) rotate(0deg) scale(1);
  }
  25% {
      transform: translate(84.01909049874882px, 10.993303728174851px) 
                scaleX(-1) rotate(3.617861000357924deg) scale(1);
  }
  50% {
      transform: translate(96.07636199499531px, -21.986607456349702px) 
                scaleX(-1) rotate(7.235722000715848deg) scale(1);
  }
  75% {
      transform: translate(75.98090950125118px, -10.993303728174851px) 
                scaleX(-1) rotate(-3.617861000357924deg) scale(1);
  }
}

@keyframes ripple {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(4);
    opacity: 0;
  }
}

.animate-ripple {
  animation: ripple 0.6s linear;
}